<form action="/students", method="post">
  <p>email: <input type="text" name="email"></p>
  <p>password: <input type="password" name="password"></p>
  <p><input type="submit" value="create"></p>
</form>